# Composer files
application/configs/application.ini
application/configs/custom.conf.php

*.log
/bin/log/
logs

public/*
!/public/js
!/public/css
!/public/Menu
!/public/font
!/public/img
!/public/new
!/public/.htaccess
data/cache/
data/tmp/
temp/
### ZendFramework ###
# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation