body{font-family: tahoma;}

.header_page{text-align: center;}
.header_page h1{line-height: 77px;color: #00ba8b;}
.table_main{position:relative;display: block;min-height: 490px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;margin: 0px 0px 10px 0px;}
.table_main .content_tad .fc-header-left{display: none}
.table_main .content_tad .fc-header-right{display: none}
.table_main .content_tad .fc-event-title{color:#FFF;}

.span6:nth-child(odd) .table_main{width: calc(100% - 10px);float: left;}
.span6:nth-child(even) .table_main{width: calc(100% - 10px);float: right;}
.table_main2{display: block;border-radius: 2px;border-bottom: 1px solid #E9E9E9;background: white 0px 20px no-repeat;border: 1px solid #E6E6E6;-moz-box-shadow: 0px 3px 2px #d6d6d6;-webkit-box-shadow: 0px 3px 2px #d6d6d6;box-shadow: 0px 3px 2px #d6d6d6;padding: 1px;position: relative;min-height: 463px;margin: 0px 0px 10px 0px;}
.span6:nth-child(odd) .table_main2{width: calc(100% - 10px);float: left;}
.span6:nth-child(even) .table_main2{width: calc(100% - 10px);float: right;}

.span6:nth-child(odd) .block_size{width: calc(100% - 5px);float: left;}
.span6:nth-child(even) .block_size{width: calc(100% - 5px);float: right;}

.table_main:nth-child(2) .row_tad{}
.table_main2:nth-child(1) .row_tad{}
.header_tad{padding-left: 12px;font-size: 15px;position: relative;height: 34px;line-height: 33px;background: #f5f5f5;border-bottom: 1px dashed #e6e6e6;padding: 3px 0px 0px 16px;}
.content_tad{overflow: hidden;padding: 10px;}
.content_tad .row_tad{display: block;float: left;/* font-weight: bold; */color: #008b56;margin-right: 5px;border: 1px solid #2aad6f;margin-top: 8px;padding: 0px 8px;background: #FFF;}
.content_tad .row_tad:hover{background-color:#008b56;color:#FFF;}
.content_tad .row_tad2{display: block;float: left;margin: 10px;border: 1px solid #ccc;padding: 3px 0px;width:168px;text-align: center;font-weight: bold;color: #FFF;}
.main{border-bottom: none;margin-bottom: 60px;}
.content_content{display: block;/* padding: 10px; */overflow: hidden;}
.content_content .dashboard-stat{display: block;width: 244px;height: 84px;float: left;color:#FFF;padding: 10px 0px;margin-bottom: 10px;position: relative;overflow: hidden;}
.content_content .dashboard-stat:nth-child(2n){margin-right: 0px;}
.content_content .dashboard-stat .visual{display: block;float:left;width: 40%;}
.content_content .dashboard-stat .visual i{font-size: 60px;margin-left: 12px;}
.content_content .dashboard-stat .details{display: block;float: left;width: 40%;font-size: 17px;}
.content_content .dashboard-stat .more{color:#FFF;display: block;bottom: 0px;right: 0px;position: absolute;width: 100%;text-indent: 10px;text-decoration: none;background: rgba(0, 0, 0, 0.2);}
.blue{background-color: #27A9E3;}
.green{background-color: #28B779;}
.purple{background-color: #852B99;}
.red{background-color: #E7191B;}

#container{overflow: hidden;}
#doanhthu{overflow: hidden;}
#trade{overflow: hidden;}

.ro{display: block;width:100%;overflow: hidden;}
.ro:hover{text-decoration: none;}
.ro:first-child{font-weight: bold;border-bottom: 2px solid #CCC;}
.ro:first-child .row1{background: none;padding: 0px 0px 0px 7px;}
.ro .row1{text-align: left;display: block;float: left;padding: 0px 0px 0px 17px;background: url(../img/sqpurple.gif) no-repeat 4px 8px;background-size: 6px;color: #008b56;}
.ro .row1:hover{text-decoration: underline;}
.ro .row2{text-align: right;display: block;line-height: 22px;}
.ro{border-bottom: 1px solid #CCC;}

.content_tad_tad{display: block;float: left;margin-bottom: 14px;overflow: hidden;}
.content_tad table{margin-bottom: 3px;height: 100%;}
.content_tad table th,td{text-align: center;}
.content_tad table tr td{border: 1px solid #dddddd;padding: 8px;}
.content_tad table tr th{border: 1px solid #dddddd;background: #f5f5f5;}

.wrap_sellout_diamond{padding-left: 75px}
.wrap_sellout_diamond  table tr th:nth-child(1){background: #FFF}
.wrap_sellout_diamond  table tr th:nth-child(3){background: #FFF}
.wrap_sellout_diamond  table tr th:nth-child(5){background: #FFF}

.wrap_sellout_diamond  table tr td:nth-child(5){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(6){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(7){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(8){background: #f5f5f5}

.wrap_sellout_diamond  table tr td:nth-child(13){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(14){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(15){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(16){background: #f5f5f5}

.wrap_sellout_diamond  table tr td:nth-child(21){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(22){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(23){background: #f5f5f5}
.wrap_sellout_diamond  table tr td:nth-child(24){background: #f5f5f5}

table{margin-bottom: 3px;border:1px solid #dddddd}
table th,td{text-align: center;}
table tr td{border: 1px solid #dddddd;}
table tr th{border: 1px solid #dddddd;background: #f5f5f5;}

table a{color: #008b56;/* font-weight: bold; */}
table a:hover{color:#000;text-decoration: none;}

/* STORE DETAILS */
.store_details .store_details_hr{width:100%;background: #FFF;}
.store_details .store_details_hr tr th,td{padding: 10px;}
.store_details .store_details_hr tr th{background: #e2e2e2;border-right:1px solid #CCC;}
.store_details .store_details_trade{border: 1px solid #ccc;margin: 23px 0px 37px 0px;padding: 7px;background: #e2e2e2;/* box-shadow: 0 3px 4px #ddd; */color: #000;}
.store_details .store_details_trade b{color: #0066cc;}
.store_details .store_details_trade tr td{border:none !important;text-align: left;}
.store_details .block .title{font-size: 14px;/* font-weight: bold; */padding-left: 12px;font-size: 15px;position: relative;height: 34px;line-height: 33px;background: #f5f5f5;border-bottom: 1px dashed #e6e6e6;padding: 3px 0px 0px 16px;}
.store_details .checkshop_img .sp{display: block;float: left;width: 175px;height: 160px;margin-right: 30px;position: relative;}
/*.store_details .checkshop_img .sp:nth-child(3n){margin-right: 0px;}*/
.store_details .checkshop_img .sp .des{text-align: center;line-height: 22px;}
.store_details .checkshop_img img{max-width: 98%;/* border: 1px solid #dcdada; */padding: 2px;max-height: 96%;margin: 0 auto;display: block;}
.store_details .checkshop_img .sp .trim{-webkit-transition: all 1s;transition: all 1s;display: none;background: rgba(0,0,0,0.5);width: 100%;height: 125px;position: absolute;top: 0px;cursor: pointer;}
.store_details .checkshop_img .sp .trim i{color:#FFF;font-size: 35px;display: block;width: 24px;top: 32%;left: 0px;right: 0px;margin: 0 auto;position: ABSOLUTE;}
.store_details .checkshop_img .sp:hover .trim{display: block;}
.store_details .checkshop_img .sp .img{display: block;width: 100%;height: 126px;border: 1px solid #eaeaea;}

#tangtruong_details{display: block;float: left;margin:0px 20px 20px 0px;box-shadow: 0 3px 4px #ddd;padding-bottom: 5px;background: #FFF;}
#soluong_details{display: block;float: left;box-shadow: 0 3px 4px #ddd;padding-bottom: 5px;background: #FFF;}
#sanpham_details{display: block;float: left;box-shadow: 0 3px 4px #ddd;padding-bottom: 5px;background: #FFF;}

.link{display: block;overflow: hidden;margin-left: -25px;margin-bottom: 18px;float: right;position: absolute;bottom: 0px;right: 0px;}
.link ul{list-style: none;}
.link ul li{display: block;float: left;margin-right: 10px;}
.link ul li a{color: #01694f;}
.link ul li a:hover{color:#000;text-decoration: none;}
.link ul li:first-child a i{font-size: 14px;}
.link ul li a i{font-size: 8px;color: #00ba8b;}
.page-header{border-bottom: 1px solid #ecebeb;position: relative;}
.store_details .header{display: block;font-weight: bold;}
.store_details .details_hr{margin-bottom: 15px;}
.store_details .checkshop_img{}
.store_details .flex-prev{}
.store_details .title{/* box-shadow: 0 3px 4px #ddd; */padding: 5px 10px;border-bottom: none;background: #e2e2e2;}
.store_details .checkshop_img{/* box-shadow: 0 3px 4px #ddd; */padding: 10px;margin-bottom: 10px;background: #FFF;}
.store_details_trade{display: block;/* height: 126px; */}
.store_details_trade span{font-size: 17px;}
.store_details_trade span i{font-size: 14px;display: block;width: 39px;float: left;text-align: center;margin: 4px 0px 0px 0px;}

.checkshop_img{display: block;overflow: hidden;}

.modal{top: 10% !important; left: 0% !important;right: 0% !important;margin: 0 auto;width:800px;border: none;/*padding: 10px*/;border-radius: 1px;}
.modal img{max-width: 800px;margin: 0 auto;max-height: 600px;display: block;}

.menu_sale{position: absolute;top:0px; right: 0px;}

.menu_type_char{position: absolute;z-index: 1000;right: 2px;}
.menu_type_char span{position: absolute;right: 2px;top: 3px;cursor: pointer;}
.menu_type_char span i{font-size: 16px;}
.menu_type_char ul{display:none;top: 25px;right: 0px;list-style: none;padding: 3px;background: #FFF;border: 1px solid #CCC;position: absolute;width: 247px;}
.menu_type_char ul li{margin: 2px 0px;padding: 0px 4px;cursor: pointer;border-bottom: 1px solid #dfe2e1;}
.menu_type_char ul li:last-child{border-bottom: none}
.menu_type_char ul li:hover{background: #f1f1f1;}

.menu_type_char_left{position: absolute;z-index: 1000;left: 2px;}

.dim{display: block;background: #FFF;position: absolute;width: 100%;height: 450px;z-index: 1000;display: none;background: url('../img/dim.gif');background-position-y: -100px;background-size: 100%;margin-top: -50px;}

.link_a{font-weight: normal;color: #008B56;}
.pagination .count{font-size: 15px;}
.modal.fade.in {top: 15%;}

/* ASM */
.info .img img{height: auto;max-width: 153px;display: block;float: left;background: #eee;padding: 2px;}
.info .info_details{display: block;float: left;/* margin-left: 50px; */width: 570px;padding: 1px;background: white 0px 20px no-repeat;color: #666;margin-bottom: 10px;}
.info .info_details .header_details{padding: 3px 0px 3px 25px;background: #f5f5f5 url('../img/oppo.png') no-repeat 4px 6px;}
.info .info_details .content_details{background: #fff;padding: 13px 10px 13px 10px;overflow: hidden;}
.info .info_details .header_details i{display: block;width: 17px;height: 20px;float: right;background: url('../img/link.png') no-repeat;margin: 3px 4px 0px 0px;}
.info .info_details span{font-size: 14px;display: block;/* float: left; */}
.info .info_details span .fi{font-size: 14px;display: block;float: left;width: 108px;}

.info .info_details .in{display: block;float: right;width: 382px;/* height: 202px; */}

.info .job_details{display: block;float: left;width: 525px;margin-left: 33px;margin-top: 8px;}
.info .job_details .job_title{font-size: 14px;font-weight: 700;margin-bottom: 17px;}
.asm_details legend{margin-bottom: 10px;}



.hr .content_tad{padding: 10px;overflow-x: scroll;}
.hr .content_tad table{width: 100%; margin: 20px 0px;}
.hr .content_tad table th{background: #00BA8B !important; color:#FFF;padding: 5px 0px;border: 1px solid #ffffff !important;    border-bottom: 2px solid #FFF !Important;}
.hr .content_tad table tr td{border: 1px solid #ffffff !important;}
.hr .content_tad table tr:nth-child(n){background: #CEDFD5 !important; color:#000;padding: 5px 0px;}
.hr .content_tad table tr:nth-child(2n){background: #E8F0EB !important; color:#000;padding: 5px 0px}


.hr .header_tad{font-size: 18px;color: #008B56;font-weight: bold;height: 45px;line-height: 44px;}
.cackhoa_training tr th{font-size: 11px}
.pull-right{margin-top: -5px;}

.soban_hangngay{display: block;width: 70%;background:#CCC;position: fixed;top: 105px;border: 5px solid #2aad6f;left: 0;right: 0;margin: 0 auto;z-index: -1000;box-shadow: 0px 3px 2px #d6d6d6;}
.close_soban{position: absolute;right: 0px;z-index: 1001;top: 0px;cursor: pointer;}
.close_soban i{font-size: 34px;color: #2aad6f;margin: 5px;}

.choosse_month{width: 45px;padding: 2px 0px 2px 2px;border-radius: 0px;border: 1px solid #2aad6f;color: #008b56;margin-left: 0px;}
.choosse_month_submit{width: 54px;margin-right: 7px;margin-top: 0px;border: 1px solid #008b56;background: white;color: #008b56;padding: 2px 1px 2px 1px;}

/*End of ASM responsive*/

/* ================ The Timeline ================ */

.timeline {position: relative;width: 546px;height: auto;overflow-y: scroll;margin: 0px auto;margin-top: 0px;padding: 1em 0;list-style-type: none;}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(70, 136, 71);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(70, 136, 71) 8%, rgb(137, 177, 134) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {padding: 1em 0;}
.timeline li:after {content: "";display: block;height: 0;clear: both;visibility: hidden;}
.direction-l {position: relative;width: 235px;float: left;text-align: right;}
.direction-r {position: relative;width: 234px;float: right;}
.flag-wrapper {position: relative;display: inline-block;text-align: center;}
.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  font-size: 1em;
  }

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(63, 181, 65);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #008B56;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
  font-size: 13px;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 11px;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.direction-r .desc a{color: #008b56;font-weight: 600;}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
  width: 100%;
  padding: 4em 0 1em 0;
}

.timeline li {
  padding: 2em 0;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;

  text-align: center;
}

.flag-wrapper {
  text-align: center;
}

.flag {
  background: rgb(255,255,255);
  z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
  left: 50%;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -9px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: transparent;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em; padding: 1em; z-index: 15;}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
  margin: 1em 4em 0 4em;
}

}

/* ================ END The Timeline ================ */


/* TRAINING */
.header_trainer{/* padding: 10px; */margin-bottom: 0px;}
.header_trainer span{font-size: 17px;margin: 0px auto 13px;display: block;color: #008B56;width: 159px;}
.header_trainer table{width: 100%}

.content_trainer{/* padding: 10px 10px 4px 10px; */}
.content_trainer span{font-size: 17px;margin: 10px auto;color: #008B56;display: block;width: 129px;}
.content_trainer table{width: 100%}


.headcount_chart{display: block;position: absolute;top: 63px;right: 28px;}
.headcount_chart label{display: block;float: left;font-size: 9px;margin-right: 5px;}
.headcount_chart select{display: block;float: left;width:100px;font-size: 9px;margin-right: 5px;height: 21px;}
.headcount_chart button{display: block;float: left;font-size: 9px;margin-right: 5px;height: 19px;line-height: 15px;}


.staff_evolution{display: block;position: absolute;top: 63px;right: 28px;}
.staff_evolution label{display: block;float: left;font-size: 9px;margin-right: 5px;}
.staff_evolution select{display: block;float: left;width:100px;font-size: 9px;margin-right: 5px;height: 21px;}
.staff_evolution button{display: block;float: left;font-size: 9px;margin-right: 5px;height: 19px;line-height: 15px;}

.PGPB_turnover_rate{display: block;position: absolute;top: 63px;right: 28px;}
.PGPB_turnover_rate label{display: block;float: left;font-size: 9px;margin-right: 5px;}
.PGPB_turnover_rate select{display: block;float: left;width:100px;font-size: 9px;margin-right: 5px;height: 21px;}
.PGPB_turnover_rate button{display: block;float: left;font-size: 9px;margin-right: 5px;height: 19px;line-height: 15px;}
  

.quarter_turnover{display: block;position: absolute;top: 56px;right: 9px;}
.quarter_turnover label{display: block;float: left;font-size: 9px;margin-right: 5px;line-height: 22px;}
.quarter_turnover select{display: block;float: left;width:100px;font-size: 9px;margin-right: 5px;height: 21px;}
.quarter_turnover button{display: block;float: left;font-size: 9px;margin-right: 5px;height: 20px;line-height: 15px;}

.headcount_probation{display: block;position: absolute;top: 56px;right: 9px;}
.headcount_probation label{display: block;float: left;font-size: 9px;margin-right: 5px;line-height: 22px;}
.headcount_probation input{display: block;float: left;width:100px;font-size: 9px;margin-right: 5px;height: 11px;padding: 0px 10px;}
.headcount_probation button{display: block;float: left;font-size: 9px;margin-right: 5px;height: 20px;line-height: 15px;}

.tichdiem_header{height: 126px;/* overflow: hidden; */}
.tichdiem_header .name{color: #4F8B56;font-size: 17px;/* width: 179px; */text-align: left;}
.tichdiem_header .box_pg{display: block;/* float: left; */position: relative;}
.tichdiem_header .box_pg .title_pg span{text-align: left;line-height: 19px;}
.tichdiem_header .box_pg .star{margin: 5px 0px -11px 0px;font-size: 36px;height: 55px;}
.tichdiem_header .box_pg .star .icon-star{color: #f5f5f5;}

.tichdiem_header .box_pg .progress{margin-top: 7px;margin-bottom: 0px;margin-bottom: -18px;text-align: center;height: 18px;width: 300px;}
.tichdiem_header .box_pg .progress .progress-bar{
    background: #008b56;
    color: #FFF;
    line-height: 19px;
}

.tichdiem_header .box_pg .star_bg{margin-top: 0px;min-height: 47px;position: absolute;top: 0px;}
.tichdiem_header .box_pg .star_bg .icon-star{color: #008b56;}

.tichdiem_header .box_pg .star_bg .icon_star2{display: block;width: 45px;height: 45px;background: url(../img/star_.png) no-repeat;background-size: 45px 45px;float: left;margin-right: 3px;}
.tichdiem_header .box_pg .icon_star{display: block;width: 45px;height: 45px;background: url(../img/star2_.png) no-repeat;background-size: 45px 45px;float: left;margin-right: 3px;}

.icon_star_index{display: block;width: 40px;height: 22px;background: url(../img/star_.png) no-repeat;background-size: 22px 22px;background-position: 15px 0px;text-align: left;color: #b79a02;font-size: 16px;margin: 0 auto;line-height: 23px;}

.table_hr tr th{padding: 3px;}
.table_hr tr td{padding: 5px !important;text-align: center;} 
.table_hr tr td span{font-size: 11px}   


/* PHÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡N TRANG JS */
.pager {text-align: center;margin: 1em 0;}
.pager span {display: inline-block;width: 1.8em;height: 1.8em;line-height: 1.8;text-align: center;cursor: pointer;background: #f9f6f1;color: #008b56;margin-right: 0.5em;border: 1px solid #008b56;}
.pager span.active {background: #008b56;color: #FFF}
.paginated tr td{text-align:left;}

.title_online{display:block;margin: 15px 0px 4px 0px;}

.training_pg .pager{margin:0px}
.training_pg .pager span{width:22px;height: 22px;line-height: 22px;margin-top: 7px;}

.page-header h1{font-weight: bold;font-size: 22px;}
.view_chitiet{font-weight: normal;}
.table{background: #FFF;}
.page-header{margin: 20px 0px 5px 1px;}
.job_content{display: block;float: left;width: 100%;margin-top: 10px;}

.sellout_diamond{margin: 15px 0px 0px 0px;z-index: 100;overflow-x: scroll;width: 100%;position: relative;}

.wrap_sellout_diamond{display: block;position: relative;}
.wrap_sellout_diamond .first_column{display: block;position: absolute;left: 0px;border-bottom: 1px solid #ddd;}
.wrap_sellout_diamond .first_column span{display: block;width: 75px;height: 34px;border: 1px solid #ddd;border-bottom: none;background: whitesmoke;text-align: center;line-height: 33px;font-weight: bold;font-size: 12px;}

/*Responsive Addition in Oct-2016 */

.container-fluid{padding-left: 0px;padding-right: 0px;}
@media (min-width: 1200px){
  .container-fluid .row {margin: 0 ;}
  .container-fluid .span6{width: 50%;margin: 0 !important;}
  #tad_hr{width: 45% !important}
  .hr_chart{width: 50% !important}
}

@media (max-width: 1200px) and (min-width: 1024px){
  .container-fluid .row {margin: 0 ;}
  .container-fluid .span6{width: 50%;margin: 0 !important;}
  #tad_hr{width: 45% !important}
  .hr_chart{width: 50% !important}


  .content_tad{padding: 5px}

  .span6:nth-child(odd) .table_main{width: calc(100% - 10px);min-height: auto;}
  .span6:nth-child(even) .table_main{width: calc(100% - 5px);min-height: auto;}

  .span6:nth-child(odd) .table_main2{width: calc(100% - 10px);min-height: auto;}
  .span6:nth-child(even) .table_main2{width: calc(100% - 5px);min-height: auto;}

}

@media (max-width: 979px) and (min-width: 768px){
    .container-fluid .span6 {
        width: 50%;
        margin: 0 !important;
        box-sizing: border-box;
  }
  #tad_hr{width: 45% !important}
  .hr_chart{width: 50% !important}
  .container-fluid .row{margin: 0px}
  .content_content .dashboard-stat .details{font-size: 12px;}
  .content_content .dashboard-stat .visual{width: 50%}
  .content_tad{padding: 5px}
  .highcharts-data-labels tspan:nth-child(2){display: none}

  .soban_hangngay{width: calc(100% - 10px);}
}

@media screen and (max-width: 767px){
  /*ASM Detail */
  .info .info_details{
    width:96%
  }
  .direction-l .flag:before,
  .direction-r .flag:before {
    right: -48px;
  }
  
  .direction-r .flag:before {
    left: -48px;
  }
  
    .container {
      width: 100%;
  }
  .desc {
      background: transparent;
      -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
      -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
      box-shadow: 0 0 0 rgba(0,0,0,0);
      padding:0;
  }
  .table_main2{
    min-height:auto;
  }
  .row>[class*="span"], .row-fluid>[class*="span"] {
      width: 93%;
  }

  .soban_hangngay{width: calc(100% - 10px);}
}

@media screen and (max-width: 660px){
  
    /*hr-pgpb-sale-area*/
  #hr-pgpb-sale-area th,#hr-pgpb-sale-area td{
    padding: 5px 2px;
    font-size: 10px;
  }
  
  #hr-pgpb-sale-area td span{
    font-size: 10px !important;
  }
  .hr .content_tad{
    padding:7px;
  }
  .content_content .dashboard-stat{
    width: 89%;
  }
  .row>[class*="span"], .row-fluid>[class*="span"] {
      width: 85%;
  }
  .info .info_details{
      width:100%;
  }
  .info .job_details{
    width:85%;
  }
  .direction-r .flag:before {
    left: 50%;
  }

  .menu-notification-new{
    min-width: 0;
    width: 90%;
  }

  .soban_hangngay{width: calc(100% - 10px);}

}

/* MAX WIDTH 480px */
@media screen and (max-width: 480px){
  .main{
    margin: 8px 0px 0px 0px;
    overflow: hidden;
  }
  .row>[class*="span"], .row-fluid>[class*="span"] {
      width: auto;
  }
  span.badge{
    padding: 1px 5px 2px;
    font-size:10px;
  }
  .table_main2{
    min-height:auto;
  }
  .info .img{
    text-align:center;
  }
  .info .img img {
    float:none;
    display:inline-block;
  }
  /* bi area table */
  #bi-table th{
    padding: 1px;
  }
   #bi-table th,#bi-table td{
    padding: 1px;
    font-size:10px;
    max-width:60px;
    word-wrap:break-word;
   }

   .bi-table th{
    padding: 1px;
  }
   #table_id th,#table_id td{
    padding: 1px;
    font-size:10px;
    max-width:60px;
    word-wrap:break-word;
   }

   #headcount-table th{
    padding: 1px;
  }

  .hr .header_tad{font-size: 15px}
   #headcount-table th,#bi-table td{
    font-size:10px;
    max-width:60px;
    word-wrap:break-word;
   }

   #table_id td{
    font-size:10px;
    max-width:60px;
    word-wrap:break-word;
   }

  /* end bi area table */
  
  /*hr headcount */
  #headcount-table table th, #headcount-table table td{
    padding: 5px 1px;
    font-size: 10px;
    max-width: 45px;
    word-wrap:break-word;
  }
  .content_content .dashboard-stat{
    width: 93%;
    margin: 3px auto;
    float: none;
  }
  .content_content .dashboard-stat:nth-child(2n){margin-right: 3px;}
  .content_content .dashboard-stat {
    padding: 3px 10px;
  }
  .content_content .dashboard-stat .visual i {
    font-size: 25px;
  }
  content_content .dashboard-stat .details {
    width: 200px;
}
  .desc {
      background: transparent;
      -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
      -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
      box-shadow: 0 0 0 rgba(0,0,0,0);
      padding:0;
      margin-top:5px;
  }
  .content_content .dashboard-stat {
      height: 73px !important;
      box-sizing: border-box;
      float: left;
      width: 48%;
      margin: 2px !important;
  }
  .content_content .dashboard-stat .more{
    font-size: 10px;
  }
  .content_content .dashboard-stat .details {
    float: left;
    width: 70%;
    font-size: 10px;
}
  .content_content .dashboard-stat .visual {
      width: 28%;
  }
  .span12{
    width: 100%;
  }
  .table_main{
    height: auto;
    padding-bottom:20px;
  }
  table.table_hr td{
      padding:0;
      font-size:0.8em;
  }
  table.table_hr th{
      padding:0;
      font-size:0.8em;
  }
  .info .info_details {
      margin-left:0;
      width: 100%;
  }
  .store_details .checkshop_img .sp {
      width: 50%;
      height: 160px;
      margin-right: 0;
  }
  
  .row{
    /* margin-right:0; */
  }
  .table_hr tr td {
      padding: 0 !important;
  }
  .tab-content {
      display: block;
      width: 100%;
  }
  .info .info_details .in{
    width:auto;
  }
  .info .info_details {
    box-sizing: border-box;
  }
  .content_tad table tr td {
      word-wrap: break-word;
      max-width: 80px;
      padding:1px;
      font-size:9px;
  }
  #tad_hr{width:50%;}
  .hr_chart{width: 48%;height: 232px;padding-left:0px;}

  .highcharts-data-labels tspan:nth-child(2){display: none}
  
  
  /*hr-pgpb-sale-area*/
  #hr-pgpb-sale-area th,#hr-pgpb-sale-area td{
    padding: 5px 1px;
    font-size: 9px;
  }
  
  #hr-pgpb-sale-area td span{
    font-size: 9px !important;
  }
  .hr .content_tad{
    padding:3px;
  }
  .modal {
      width: 90%;
      position:fixed;
  }
    .modal.fade.in {
      top: 10%;
  }
  .notification_modal_list li{
      overflow:hidden;
  }
  .span6_bl{width: 50% !important;float: left !important;}

  .span6:nth-child(odd) .table_main{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .table_main{width: calc(100% - 4px);min-height: auto;}

  .span6:nth-child(odd) .table_main2{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .table_main2{width: calc(100% - 4px);min-height: auto;}

  .span6:nth-child(odd) .block_size{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .block_size{width: calc(100% - 4px);min-height: auto;}
  
  .content_tad{padding: 5px}
  
  /* REPONSIVE ASM */
  .asm-details .content_tab{
    display:block;
  }
  .asm-details .row{
    margin-right:0;
  }
  .info .info_details{clear:left;margin-left: 0;width: 0;padding: 1px;background: white 0px 20px no-repeat;color: #666;width: 100%;}
  .info .info_details .header_details{border-bottom: 1px dashed #e6e6e6;padding: 3px 0px 3px 25px;background: #f5f5f5 url('../img/oppo.png') no-repeat 4px 6px;}
  .info .info_details .content_details{background: #fff;padding: 13px 10px 13px 10px;overflow: hidden;}
  .info .info_details .header_details i{display: block;width: 17px;height: 20px;float: right;background: url('../img/link.png') no-repeat;margin: 3px 4px 0px 0px;}
  .info .info_details span{font-size: 14px;display: block;/* float: left; */}
  .info .info_details span .fi{font-size: 14px;display: block;float: left;width: 108px;}
  
  .info .job_details{display: block;float: left;width: 100% !important;margin-left: 0px;margin-top: 8px;}
  .info .job_details .job_title{font-size: 14px;font-weight: 700;margin-bottom: 17px;}
  .asm_details legend{margin-bottom: 10px;}
  .job_content {width: 100%;}

  .soban_hangngay{width: calc(100% - 10px);}

  .wrap_sellout_diamond .first_column span:first-child{height: 34px;font-size: 11px;line-height: 36px;}
  .wrap_sellout_diamond .first_column span{height: 20px;font-size: 10px;line-height: 20px;}

  .tad_hr_new{width: 100% !important}

}
/* END MAX WIDTH 480 */

/* MAX WIDTH 320 */
@media screen and (max-width: 320px){
  .content_trainer table tr td,.header-trainer table tr td {
      padding: 2px;
      font-size: 0.9em;
  }
  table.table_hr a.label-info{
    /* display:none; */
    font-size: 8px;
  }
  /*headcount table*/
  #headcount-table table th, #headcount-table table td{
    padding: 5px 1px;
    font-size: 9px;
    max-width: 40px;
    word-wrap:break-word;
  }

  .span6:nth-child(odd) .table_main{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .table_main{width: calc(100% - 4px);min-height: auto;}

  .span6:nth-child(odd) .table_main2{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .table_main2{width: calc(100% - 4px);min-height: auto;}

  .span6:nth-child(odd) .block_size{width: calc(100% - 4px);min-height: auto;}
  .span6:nth-child(even) .block_size{width: calc(100% - 4px);min-height: auto;}
  
  .job_details{width: 100%;}

  .content_tad{padding: 5px}

  .soban_hangngay{width: calc(100% - 10px);}

  .wrap_sellout_diamond .first_column span:first-child{height: 34px;font-size: 11px;line-height: 36px;}
  .wrap_sellout_diamond .first_column span{height: 20px;font-size: 10px;line-height: 20px;}

  .tad_hr_new{width: 100% !important}

}
/* END MAX WIDTH 320 */




